// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.establishment-fine-detail {
  display: inline-block;
  color: #505a5f;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.establishment-data-download {
  float: right;
  margin-bottom: 25px;
  overflow: hidden;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.home-hr {
  border: none;
  height: 5px;
  color: #1d70b8;
  background-color: #1d70b8;
}

.govuk-option-select .container-head {
  background-color: #d8dadb;
  padding: 5px 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.govuk-option-select .options-container {
  max-height: 320px;
  overflow-y: scroll;
}

is-mac .govuk-option-select {
  border-right: 4px solid #d8dadb;
}

.govuk-option-select {
  position: relative;
  overflow: hidden;
}

.gias-governor-roles {
  max-width: 400px;
}

.govuk-option-select {
  border: 4px solid #d8dadb;
  border-right: 4px solid #d8dadb;
}

.govuk-option-select .govuk-checkboxes__item {
  border-bottom: 1px solid #b1b4b6;
  display: block;
  float: none;
  font-size: 16px;
  padding-left: 40px;
}

.govuk-option-select .govuk-checkboxes__label::before {
  left: 5px;
}

.govuk-checkboxes__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
  padding-left: 15px;
}

.govuk-checkboxes__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.govuk-checkboxes--small .govuk-checkboxes__item:after {
  content: "";
  display: block;
  clear: both;
}
.search-results-download-link-container {
  float: right;
}

.custom-govuk-heading-xs {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  margin: 0 0 5px;
  font-size: 1rem;
  line-height: 1.25;
}

.filters {
  position: relative;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.clear-filters {
  position: absolute;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  right: 15px;
  top: 0;
}

.pagination {
  overflow: hidden;
  position: relative;
  font-size: 16px;
  clear: both;
  min-height: 48px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pagination p {
  float: left;
  margin-top: 0;
}

.pagination .pagination-links {
  position: absolute;
  right: 0;
  margin-bottom: 0;
}
.pagination .pagination-links {
  clear: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.govuk-option-select {
  position: relative;
  overflow: hidden;
  border: 4px solid #d8dadb;
  border-right: 0;
}

.js-collapsible .option-select-label {
  padding: 5px 0 5px 10px;
  font-size: 16px;
  font-weight: bold;
}

.js-collapsible .js-container-head {
  z-index: 97;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: -1px;
  padding: 4px 0;
  background-color: #d8dadb;
  border: 1px solid #d8dadb;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.js-collapsible .js-container-head::after {
  position: absolute;
  background: url(/public/assets/images/option-select-toggle-sprite.png)
    no-repeat right 5px;
  width: 24px;
  height: 25px;
  content: "";
  right: 0;
  top: 0;
}
.js-collapsible.js-closed button::after {
  background-position: right -75px;
}

.govuk-select {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  max-width: 100%;
  height: 40px;
  height: 2.5rem;
  padding: 5px;
  border: 2px solid #0b0c0c;
  color: #0b0c0c;
  background-color: #ffffff;
}

.sortby-selector {
  width: 90%;
  margin: 15px 0 10px 5%;
  font-size: 16px;
}

.govuk-option-select.no-scroll .options-container {
  overflow-y: hidden;
  border-right: 4px solid #d8dadb;
  max-height: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.govuk-section-break--visible {
  border-bottom: 1px solid #b1b4b6;
}

.gias-map-toggle-icon-container {
  position: relative;
  width: 26px;
  height: 30px;
  display: inline-block;
  padding-top: 5px;
}

.search-type-toggle {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 15px;
}

.dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.school-results-listing {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

.gias-result-tile dt {
  clear: left;
  padding-right: 0.5em;
}

.gias-result-tile dl {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

dd {
  display: block;
  margin-inline-start: 40px;
}

.gias-result-tile dt,
.gias-result-tile dd {
  float: left;
  margin: 0;
}

.gias-result-tile dt.inline-details {
  clear: none;
  margin-left: 12px;
}

.gias-result-tile {
  margin-bottom: 20px;
  border-bottom: 1px solid #b1b4b6;
  position: relative;
  list-style-type: none;
}

.js-enabled .govuk-accordion__open-all {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 26px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #1d70b8;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  float: right;
}

.govuk-option-select {
  margin-bottom: 10px;
}

.inline-form-control {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  overflow: hidden;
  margin: 10px;
}

.inline-form-control .filter-button {
  margin-bottom: 0;
  float: right;
}

.govuk-option-select {
  border-right: 4px solid #d8dadb;
}

.gias-filter-checkboxes .govuk-checkboxes__label {
  padding-left: 5px;
  font-size: 16px;
}

.landing-page-map-container {
  margin-bottom: 50px;
}

#search-results .govuk-accordion__show-all {
  display: none;
}

#search-results .govuk-accordion__section-heading-text {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
}

.searchresult-selection {
  border: 4px solid #d8dadb;
  border-right: 4px solid #d8dadb;
}

.searchresult-header {
  background-color: #d8dadb;
  position: relative;
  display: block;
  width: 100%;
  border: 0px;
}

#search-results .govuk-accordion__section-toggle-text {
  display: none;
}

.govuk-accordion__section-toggle-focus {
  position: absolute;
  width: 24px;
  height: 25px;
  padding-top: 5px;
  right: 0;
  top: 0;
}

#search-results .govuk-accordion__section-button {
  border-top: none;
  padding-bottom: 0px;
}

//stakeholder-views changes
#change-history.govuk-table {
  font-size: 14px;
}

#csv.button,
#xlsx.button {
  font-size:18px;
  margin-bottom: 20px;
}
