{% extends "layout.html" %}

{% block head %}
{% include "includes/head.html" %}

{% endblock %}

{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home",
active: true
},
{
href: "/search",
text: "Search"
},
{
href: "download",
text: "Downloads"
},
{
href: "about",
text: "About"
},
{
href: "help",
text: "Help"
},
{
href: "news",
text: "News"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner ">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link"
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-ZYZAR7wa5FMmFGoqFTjsw5UREJBVlAxSTBKWFdOMEcwTTU1M0gyVVJKRCQlQCN0PWcu">feedback</a>
            will help us to improve it.
        </span>
    </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="landing">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="search">Search</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="esablishments">Establishments</a>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">Establishment</span>
            <h1 class="govuk-heading-l gias-landing-heading">
                University of Newcastle Upon Tyne
            </h1>

            <p class="urn establishment-fine-detail"><abbr title="Unique Reference Number">URN</abbr>: 133852</p>
            <p class="establishment-type establishment-fine-detail">Higher education institutions</p>
            <p class="establishment-data-download">
                <a href="" rel="nofollow">Download establishment data</a>
            </p>


        </div>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#details">
                    Details
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#links">
                    Links
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#location">
                    Location
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="details">
            <div class="tab-content-wrapper gias-tabs-content">
                <div id="school-dashboard" class="tab-content" tabindex="0" aria-hidden="false">


                    <a href="#details-summary" class="govuk-skip-link">Skip map</a>
                    <div class="landing-page-map-container">
                        <a href="#map" id="map-toggle" class="map-toggle" role="button">Show map</a>
                    </div>

                    <div class="detail-summary" id="details-summary">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Address</dt>
                                <dd class="govuk-summary-list__value">6 Kensington Terrace, Newcastle-upon-Tyne, Tyne
                                    and Wear, NE1 7RU</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Local authority</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="../search-results">
                                        Newcastle upon Tyne
                                    </a>
                                    (391)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Headteacher<span class="govuk-visually-hidden">
                                    </span>/<span class="govuk-visually-hidden"> </span>Principal</dt>
                                <dd class="govuk-summary-list__value">
                                    Professor
                                    Chris
                                    Day
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Age range
                                    <a href="#help-text-age-range" class="help-icon modal-link">
                                        <span class="govuk-visually-hidden">Help with age range field</span>
                                        <span class="govuk-visually-hidden">Opens a dialog</span>

                                    </a>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Phase of education</dt>
                                <dd class="govuk-summary-list__value">
                                    Not applicable
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School type</dt>
                                <dd class="govuk-summary-list__value">
                                    Higher education institutions
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Further education type</dt>
                                <dd class="govuk-summary-list__value">
                                    Not applicable
                                </dd>
                            </div>


                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Gender of entry</dt>
                                <dd class="govuk-summary-list__value">
                                    Mixed
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">

                                <dt class="govuk-summary-list__key">ID</dt>
                                <dd class="govuk-summary-list__value">
                                    <abbr title="Unique Reference Number">URN</abbr>: 133852,
                                    <abbr title="UK Provider Reference Number">UKPRN</abbr>: 10007799
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Establishment status</dt>
                                <dd class="govuk-summary-list__value">
                                    Open </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Website</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="" target="_blank" rel="noreferrer noopener">
                                        https://www.ncl.ac.uk (opens in new tab)
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Telephone</dt>
                                <dd class="govuk-summary-list__value">01912226000</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Number of pupils</dt>
                                <dd class="govuk-summary-list__value">Not recorded</dd>
                            </div>


                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Open date</dt>
                                <dd class="govuk-summary-list__value">
                                    Not recorded
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reason establishment opened</dt>
                                <dd class="govuk-summary-list__value">Not applicable</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Closed date</dt>
                                <dd class="govuk-summary-list__value">Not recorded</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reason establishment closed</dt>
                                <dd class="govuk-summary-list__value">Not applicable</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Number of pupils eligible for free school meals
                                    <a href="#help-text-fsm" class="help-icon modal-link">
                                        <span class="govuk-visually-hidden">Help with number of pupils eligible for free
                                            school meals field</span>
                                        <span class="govuk-visually-hidden">Opens a dialog</span>

                                    </a>
                                </dt>
                                <dd class="govuk-summary-list__value">Not recorded</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Percentage of children eligible for free school meals
                                    <a href="#help-text-fsm-percentage" class="help-icon modal-link">
                                        <span class="govuk-visually-hidden">Help with percentage of children eligible
                                            for free school meals field</span>
                                        <span class="govuk-visually-hidden">Opens a dialog</span>

                                    </a>
                                </dt>
                                <dd class="govuk-summary-list__value">Not recorded</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date last changed<span
                                        class="govuk-visually-hidden"> </span>/<span class="govuk-visually-hidden">
                                    </span>confirmed</dt>
                                <dd class="govuk-summary-list__value">5 February 2021</dd>
                            </div>

                        </dl>

                    </div>


                    <a class="back-to-top-link" href="#top">
                        <svg role="presentation" focusable="false" class="back-to-top-icon"
                            xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                        </svg>
                        Back to top
                    </a>

                </div>


            </div>

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="links">

            <div id="school-links" class="tab-content hidden-tab-content" tabindex="0" aria-hidden="true">
                
                <p class="govuk-body">There are no linked establishments</p>
        
        </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="location">
            <div class="tab-content-wrapper gias-tabs-content">
                <div id="school-dashboard" class="tab-content hidden-tab-content" tabindex="0" aria-hidden="true">
                
                <div id="school-location" class="tab-content" tabindex="0" aria-hidden="false">
                
                
                    <div class="detail-summary">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Regional schools commissioner (RSC) region</dt>
                                <dd class="govuk-summary-list__value">North of England</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Government office region (GOR)</dt>
                                <dd class="govuk-summary-list__value">North East</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">District</dt>
                                <dd class="govuk-summary-list__value">Newcastle upon Tyne</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Ward</dt>
                                <dd class="govuk-summary-list__value">Monument</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Parliamentary constituency</dt>
                                <dd class="govuk-summary-list__value">Newcastle upon Tyne Central</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Urban/rural description</dt>
                                <dd class="govuk-summary-list__value">(England/Wales) Urban major conurbation</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Government Statistical Service (GSS) local authority code</dt>
                                <dd class="govuk-summary-list__value">E08000021</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Easting</dt>
                                <dd class="govuk-summary-list__value">424693</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Northing</dt>
                                <dd class="govuk-summary-list__value">565147</dd>
                            </div>
                
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Middle super output area (MSOA)</dt>
                                <dd class="govuk-summary-list__value">Newcastle upon Tyne 024</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lower super output area (LSOA)</dt>
                                <dd class="govuk-summary-list__value">Newcastle upon Tyne 024C</dd>
                            </div>
                        </dl>
                    </div>
                
                
                
                        <a class="back-to-top-link" href="#top">
                        <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                        </svg>
                        Back to top
                    </a>
                
                </div>
                
                            </div>
        </div>
    </div>

</main>


</div>
{% endblock %}