{% extends "layout.html" %}

{% block head %}
{% include "includes/head.html" %}

{% endblock %}

{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home",
active: true
},
{
href: "#2",
text: "Search"
},
{
href: "#3",
text: "Downloads"
},
{
href: "#4",
text: "About"
},
{
href: "#5",
text: "Help"
},
{
href: "#6",
text: "News"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner ">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link"
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-ZYZAR7wa5FMmFGoqFTjsw5UREJBVlAxSTBKWFdOMEcwTTU1M0gyVVJKRCQlQCN0PWcu">feedback</a>
            will help us to improve it.
        </span>
    </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Home</a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<main id="main-content" class="govuk-main-wrapper" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Help using Get Information about Schools</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p>This page provides you with contact and support information for using the service, including details on how your data and cookies are used.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Contact</a></h2>
            <p>Contact us if you are an establishment, local authority, academy trust or member of the public who has a query about Get Information about Schools.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Glossary</a></h2>
            <p>Specific terms explained with a full description.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Frequently asked questions (FAQs)</a></h2>
            <p>Frequently asked questions about Get Information about Schools.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Guidance</a></h2>
            <p>General guidance about Get Information about Schools and for help with specific areas.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Terms of use</a></h2>
            <p>Terms of use for the Get Information about Schools service.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Service information and users responsibilities</a></h2>
            <p>Information for users about the service and their responsibilities.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Privacy notice</a></h2>
            <p>Information about how we use your personal data.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Cookies</a></h2>
            <p>How cookies are used on Get Information about Schools and each cookie's purpose.</p>
    
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#">Accessibility statement</a></h2>
            <p>Information about Get Information about Schools accessibility for users.</p>
    
                <a class="back-to-top-link" href="#top">
            <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
        </a>
    
        </div>
    </div>
    
    </main>

{% endblock %}